@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header{
    background-color: #333333;
    width:100%;
    position:fixed;
    z-index:999;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 13px 100px;
  }
  
  .logo{
    color:#D22B2B;
    font-weight:700;
    text-decoration:none;
    font-size:1.8em;
    transition:0.5s ease;
  }
  
  .logo:hover{
    color:aliceblue;
  }
  
  .navigation{
    padding-left: 90px;
  }
  .navigation a{
    color:#D22B2B;
    font-weight:600;
    font-size:1.2em;
    text-decoration:none;
    text-align: center;
    padding-right: 20px;
    transition:0.5s ease;
  }
  
  .navigation a:hover{
    color:aliceblue;
  }
  .cta{
    color:#D22B2B;
    font-size:1.2em;
    font-weight:700;
    text-decoration:none;
    padding:5px;
    border-radius:  20px;
    transition:0.5s ease;
    margin-right:10px;
  }
  .cta2{
    color:#D22B2B;
    font-size:1.2em;
    font-weight:700;
    text-decoration:none;
    padding:5px 15px;
    border-radius:  20px;
    background-color: aliceblue;
    text-align: center;
    transition: 0.3s ease;
  }
  .cta:hover{
    background-color:aliceblue;
    transform:scale(1.1);
  }
  .cta2:hover{
    background-color:rgb(165, 162, 162);
  }
  .regg{
  background: url(../7.jpg) no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-position:center;
  width:100%;
  height:100%;
  overflow-y:hidden;
}

  *,:after,:before{box-sizing:border-box}
  .clearfix:after,.clearfix:before{content:'';display:table}
  .clearfix:after{clear:both;display:block}
  a{color:inherit;text-decoration:none}
  
  .login-wrap{
    padding-top:50px;
    width:100%;
    margin:auto;
    max-width:525px;
    height:585px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:50px 70px 50px 70px;
    background:#333333;
  }
  .login-html .sign-in-htm,
  .login-html .sign-up-htm{
    top:20;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
  }
  .login-html .sign-in,
  .login-html .sign-up,
  .login-form .group .check{
    display:none;
  }
  .login-html .tab,
  .login-form .group .label,
  .login-form .group .button{
    text-transform:uppercase;
  }
  .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0px 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
  }
  .login-html .sign-in:checked + .tab,
  .login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#D22B2B;
  }
  .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
  }
  .login-form .group{
    margin-bottom:15px;
  }
  .login-form .group .label,
  .login-form .group .input,
  .login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
  }
  .login-form .group .input,
  .login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
  }
  .login-form .group input[data-type="password"]{
    input-security:circle;
    -webkit-text-security:circle;
  }
  .login-form .group .label{
    color:#aaa;
    font-size:12px;
  }
  .login-form .group .button{
    background:#D22B2B;
  }
  .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
  }
  .login-form .group label .icon:before,
  .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
  }
  .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
  }
  .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
  }
  .login-form .group .check:checked + label{
    color:#fff;
  }
  .login-form .group .check:checked + label .icon{
    background:#1161ee;
  }
  .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
  }
  .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
  }
  .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
  }
  .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
  }
  
  .hr1{
    height:2px;
    margin:50px 0 30px 0;
    background:rgba(255,255,255,.2);
  }
  .hr2{
    height:2px;
    margin:20px 0 5px 0;
    background:rgba(255,255,255,.2);
  }
  .foot-lnk{
    text-align:center;
  }

  .forgotp{
    cursor: pointer;
  }